.header {
  text-align: center;
  padding: 0.8rem;
  background-color: #7e8edf;

  .nav-bar-list {
    display: flex;
    justify-content: center;
    margin: 0;

    li {
      list-style: none;
      a {
        display: inline-block;
        color: #fff;
        padding: 14px 16px;
        text-decoration: none;
        background-color: #0e2bbe;
        border-radius: 5px;
        margin: 0 5px;
      }

      .ativado {
        background-color: #3c57e2;
      }
    }
  }
}
