<header class="header">
  <ul class="nav-bar-list">
    <!-- <li>
      OPTIONS PARA ROTA EXATA
      <a routerLink="home" routerLinkActive="ativado" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li> -->
    <li>
      <a routerLink="/home" routerLinkActive="ativado">Home</a>
    </li>
    <li>
      <a routerLink="/extrato" routerLinkActive="ativado">Extrato</a>
    </li>
    <li>
      <a routerLink="/contatos" routerLinkActive="ativado">Contatos</a>
    </li>
    <li>
      <button class="btn btn-primary" (click)="logout()">Logout</button>
    </li>
  </ul>
</header>
