<div class="text-center">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="form-signin pt-5">
    <div class="p-2">
      <input
        type="email"
        class="form-control"
        placeholder="Email"
        name="email"
        [(ngModel)]="email"
        required
        email
        #emailInput
      />
      <p *ngIf="exibeErro(form, 'email')" class="text-left py-0 m-0">
        E-mail inválido
      </p>
    </div>
    <div class="p-2">
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        name="password"
        [(ngModel)]="password"
        required
        #passwordInput
      />
      <p *ngIf="exibeErro(form, 'password')" class="text-left py-0 m-0">
        Senha inválida
      </p>
    </div>
    <div class="p-2">
      <button
        class="btn btn-lg btn-primary btn-block"
        type="submit"
        [disabled]="isLoading"
      >
        Entrar
      </button>
    </div>
  </form>
  <div class="spinner-border my-1" role="status" *ngIf="isLoading">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="my-1" *ngIf="isError">
    <p class="text-danger">Usuário e/ou senha incorretos!</p>
  </div>
</div>
