<!-- String dentro de string passa direto a informação -->
<app-header [title]="headerTitle"></app-header>

Valor counterValue: {{ counterValue}}

<!-- Two Way Data Binding: Atualiza a variavel passada como valor ao mesmo tempo
que atualiza a variavel interna -->
<app-counter
[(value)]="counterValue"
>
</app-counter>

<!-- Mesmo efeito que que o de cima mas sem Two Day Data Binding  -->
<!-- <app-counter
[(value)]="counterValue"
(valueChange)="counterChanged($event)"
>
</app-counter> -->

<app-ex-data-binding
  [palavra]="pudim"
  [color]="'green'"
  (clicado)="eventoRecebido($event)"
  >
</app-ex-data-binding>
<app-footer></app-footer>

