<!-- String dentro de string passa direto a informação -->
<router-outlet></router-outlet>

<!-- Two Way Data Binding: Atualiza a variavel passada como valor ao mesmo tempo
que atualiza a variavel interna -->
<!-- <app-counter *ngIf="true"
[(value)]="counterValue"
>
</app-counter>

<app-ex-diretivas>

</app-ex-diretivas> -->

<!-- Mesmo efeito que que o de cima mas sem Two Day Data Binding  -->
<!-- <app-counter
[(value)]="counterValue"
(valueChange)="counterChanged($event)"
>
</app-counter> -->

<!-- <app-ex-data-binding
  [palavra]="pudim"
  [color]="'green'"
  (clicado)="eventoRecebido($event)"
  >
</app-ex-data-binding> -->

<!-- <app-ex-ngclass></app-ex-ngclass> -->
<!-- <app-ex-pipe></app-ex-pipe> -->
